<section class="container">
      <div ng-repeat="todo in todos">
         <label>
              <input type="checkbox" ng-click="deleteTodo(todo._id)">
               {{ todo.text }}
          </label>
      </div>

      <form>  
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Inserta una tarea nueva" ng-model="formData.text">
        </div>
        <button class="btn btn-primary btn-lg" ng-click="createTodo()">
            Añadir
        </button>
    </form>  
  </section>